* {
	box-sizing: border-box;
}

.cabecera, .pie {
	background-color: #2d3142;
	color: #fff;
	height: 10vh;
}

.contenido {
	background-color: #d8d5db;
	height: 40vh;
	padding-top: 20px;
}


.sidebar {
	background-color: #adacb5;
	height: 40vh;
	padding-top: 20px;
}

li{
	list-style-type: none;
}

@media (min-width: 767px){
	.contenido {
	height: 80vh;
	}

	.sidebar {
		height: 80vh;
	}

}

